.to-do-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: none;
  font-size: 32px;
  margin: 0px 70px 0px 50px;
}

.to-do-text-clicked {
  margin: 0px 70px 0px 50px;
  word-wrap: break-word;
  text-overflow: unset;
  overflow: visible;
  white-space: pre-line;
  font-size: 32px;
}
.to-do-checkbox {
  float: right;
  width: 40px;
  height: 40px;
  accent-color: #61dafb;
}

.editing-input {
  background: #fbfbfb;
  border: 2px solid transparent;
  border-radius: 6px;
  margin-top: 16px;
  text-align: center;
  font-size: 16px;
  height: 36px;
  width: 600px;
  width: 100%;
}

.edit-button,
.delete-button,
.save-button,
.cancel-button {
  font-size: 20px;
  margin: 0px 5px;
  border: 1px;
  border-radius: 3px;
  color: #fff;
}

.delete-button,
.cancel-button {
  background-color: #dc0000;
}

.edit-button {
  background-color: #ff7000;
}

.save-button {
  background-color: #03c988;
}
